


<div class="text-center mt-4">
    <h1 class="h2">Resolution Has Been Passed On To Staff!</h1>
    <a class="btn btn-success" href="/complaint/index">Back to Complaint</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}