<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>401</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4 <span></span> 1</h1>
			</div>
			<h2>No Authorization Found.</h2>
			<p>This page is not publically  available.<br/> To access it please login first.</p>
			<a href="/home/index">Return Home</a>
		</div>
	</div>
</body>
</html>
