<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        Complaint App
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item" id="nav-home">
                        <a class="nav-link" href="/home/index">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    
                    <li class="nav-item" id="nav-order">
                        <a class="nav-link" href="/order/index">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <p>Order</p>
                        </a>
                    </li>
                    <li class="nav-item" id="nav-profile">
                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                            <i class="fa fa-user" aria-hidden="true"></i>Profile
                        </a>
                    </li>
                    <li class="nav-item" id="nav-complaint">
                        <a class="nav-link" asp-area="" asp-controller="Complaint" asp-action="Index">
                            <i class="fa fa-file-text" aria-hidden="true"></i>Complaint
                        </a>
                    </li>
                    <li class="nav-item" id="nav-resolution">
                        <a class="nav-link" asp-area="" asp-controller="Resolution" asp-action="Index">
                            <i class="fa fa-bookmark" aria-hidden="true"></i></i>Resolution
                        </a>
                    </li>
                    <li class="nav-item" id="nav-feedback">
                        <a class="nav-link" asp-area="" asp-controller="Feedback" asp-action="Index">
                            <i class="fa fa-comments" aria-hidden="true"></i></i>Feedback
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(/img/sidebar-5.jpg) "></div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home/index"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                </a>                                
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
					<div class="row">
                        @RenderBody()
                    </div>                                     
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
</body>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/light-bootstrap-dashboard.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</html>