<div class="text-center mt-2">
    <h1 class="h2">Your Feedback Is Sent!</h1>
    <a class="btn btn-success" href="/feedback/index">Check Feedback</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}