<!-- Modal Edit -->
<div id="EditFeedbackModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Feedback</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="resolutionId" class="form-label">Resolution ID</label>
                        <input type="text" class="form-control" id="resolutionId" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="editDesc" class="form-label">Description</label>
                        <input type="text" class="form-control" id="editDesc" required>
                    </div>
                    <div class="mb-3">
                        <label for="editRating" class="form-label">Rating</label>
                        <select class="form-select" aria-label="status" id="editRating" required>
                            <option hidden>Rating</option>
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveFeedback">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>Table Feedback</h2>
<a class="nav-link mb-3" asp-area="" asp-controller="Feedback" asp-action="AddFeedback">New Feedback</a>

<table class="table table-striped table-bordered table-hover" id="tableFeedback">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">No</th>
            <th scope="col" class="col-1">Resolution ID</th>
            <th scope="col" class="col-1">Description</th>
            <th scope="col" class="col-1">Rating</th>
            <th scope="col" class="col-2">Action</th>
        </tr>
    </thead>
    <tbody id="tbodyFeedback">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/feedback.js"></script>
    <script>
        $(document).ready(function () {
            // get token from server
            const token = '@Context.Session.GetString("JWToken")';
            sessionStorage.setItem("JWToken", token);
        });
    </script>
}