@{
    ViewData["Title"] = "User";
}
<h2>Table Users</h2>

<table class="table table-striped table-bordered table-hover" id="tableUser">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">No</th>
            <th scope="col" class="col-1">Name</th>
            <th scope="col" class="col-1">Email</th>
            <th scope="col" class="col-1">Gender</th>
            <th scope="col" class="col-2">Birth Date</th>
            <th scope="col" class="col-1">Phone Number</th>
            <th scope="col" class="col-1">Role</th>
        </tr>
    </thead>
    <tbody id="tbodyUser">
    </tbody>
</table>

@section Scripts{
    <script>
        $("li#nav-user").addClass("active")
    </script>
    <script src="~/js/user.js"></script>
}