@model Client.ViewModels.ResolutionVM
@{
    ViewData["Title"] = "Complaint";
}

<!-- Modal Add Resolution -->
<div id="AddResolutionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Staff for Complaint</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddResolution" asp-controller="Resolution">
                    <div class="mb-3">
                        <label for="editEmployeeId" class="form-label">Employee Staff</label>
                        <select asp-for="EmployeeId" class="form-control" id="editEmployeeId" required>
                            <option value="">--Please choose a staff--</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="editComplaintId" type class="form-label" style="display: none;">Complaint ID</label>
                        <input asp-for="ComplaintId" class="form-control" type="hidden" id="editComplaintId" required />
                        <span asp-validation-for="ComplaintId" class="text-danger"></span>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-primary" value="AddResolution">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Complaint -->
<div id="EditComplaintModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Complaint</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="editTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="editTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="editDesc" class="form-label">Description</label>
                        <textarea rows="10" cols="70" class="form-control" id="editDesc" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editOrderId" class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="editOrderId" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-fill" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-fill" id="SaveComplaint">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>Table Complaint Data</h2>

@if(User.IsInRole("user"))
{
    <a class="btn btn-primary my-3 w-auto btn-fill" asp-area="" asp-controller="Complaint" asp-action="AddComplaint">New Complaint</a>
}

<table class="table table-striped table-bordered table-hover" id="tableComplaint">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">No</th>
            <th scope="col" class="col-1">Title</th>
            <th scope="col" class="col-2">Description</th>
            <th scope="col" class="col-1">Order ID</th>
            <th scope="col" class="col-1">Status</th>
            <th scope="col" class="col-2">Created At</th>
            <th scope="col" class="col-2">Updated At</th>
            <th scope="col" class="col-2">Action</th>
            <th scope="col" class="col-1">Resolution</th>
        </tr>
    </thead>
    <tbody id="tbodyComplaint">
    </tbody>
</table>

@section Scripts{
    <script>
        $("li#nav-complaint").addClass("active")
        let isAdmin = '@User.IsInRole("admin")'
    </script>
    <script src="~/js/complaint.js"></script>
}