<!-- Modal Edit -->
<div id="EditComplaintModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Complaint</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="editTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="editTitle" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="editDesc" class="form-label">Description</label>
                        <input type="text" class="form-control" id="editDesc" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="editOrderId" class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="editOrderId" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveComplaint">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>Table Complaint Data</h2>
<a class="nav-link mb-3" asp-area="" asp-controller="Complaint" asp-action="AddComplaint">New Complaint</a>

<table class="table table-striped table-bordered table-hover" id="tableComplaint">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">No</th>
            <th scope="col" class="col-1">Title</th>
            <th scope="col" class="col-2">Description</th>
            <th scope="col" class="col-1">Order ID</th>
            <th scope="col" class="col-1">Status</th>
            <th scope="col" class="col-1">Created At</th>
            <th scope="col" class="col-1">Updated At</th>
             <th scope="col" class="col-2">Action</th>
        </tr>
    </thead>
    <tbody id="tbodyComplaint">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/complaint.js"></script>
    <script>
        $(document).ready(function () {
            // get token from server
            const token = '@Context.Session.GetString("JWToken")';
            sessionStorage.setItem("JWToken", token);
        });
    </script>
}